/* Imports */

@import "ZeroingOut.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;600&display=swap');

/* Started Styles */

body {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: black;
}

.container {
    max-width: 1160px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.wrapper {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

/* General Classes */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__img {
    width: 174px;
    height: 48px;
}

.title {
    font-weight: 600;
    font-size: 58px;
    line-height: 70px;
    color: #0B0C0C;
}

.title_green {
    color: #0DB760;
    background: none;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #323433;
}

.btn {
    min-width: 138px;
    padding: 16px 24px;
    background: #0DB760;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 12px;
}

.title-mini {
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #0B0C0C;
}

.title-mini_green {
    color: #0DB760;
    background: none;
}

.offer__title {
    margin: 10px 0 24px 0;
}

.offer__buttons {
    margin-top: 40px;
}

.offer__view-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: inline-flex;
    align-items: center;
    color: black;
    margin-left: 24px;
}

.offer__view-btn::after {
    content: "";
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-left: 10px;
    background-image: url(../img/arrow-icon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.welcome-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
    color: #0DB760;
    border: 0.5px solid #0DB760;
    padding: 6px 5px;
    border-radius: 100%;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 40px;
}

.header__container {
    justify-content: space-between;
}

.header__link-list > *:not(:last-child) {
    margin-right: 40px;
}

.header__link {
    color: black;
    font-weight: 500;
    line-height: 145%;
}

.header__download-btn {
    font-weight: 500;
    line-height: 150%;
    min-width: 152px;
    padding: 16px 24px;
    border: 2px solid #0DB760;
    border-radius: 12px;
    color: black;
}

/* Home */

.home {
    width: 100%;
    height: 780px;
    background-image: url(../img/home-background.png);
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 172px;
}

.home__container {
    position: relative;
    justify-content: space-between;
}

.home__column_text {
    max-width: 545px;
}

.home__img {
    height: auto;
    width: 441px;
}

.home__contacts {
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: 50%;
    left: calc(100% + 70px);
    transform: translate(0, -50%);
}

.home__contacts-title {
    font-size: 16px;
    line-height: 150%;
    writing-mode: vertical-rl;
    color: #0DB760;
}

.home__contacts-line {
    height: 64px;
    width: 0.5px;
    background: #0DB760;
    position: relative;
    right: 3px;
}

.home__contacts-list {
    flex-direction: column;
    gap: 32px;
}

.home__contact-link {
    display: inline-block;
}

.home__contact-img {
    width: 20px;
    height: 20px;
}

/* Info */

.info {
    width: 100%;
    margin-top: 122px;
}

.info__items {
    width: 100%;
    justify-content: space-between;
}

.info-item {
    flex: 1 1 33.333%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    position: relative;
}

.info__item:not(:last-child, :first-child)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 1px;
    background: #0DB760;
}

.info__item:not(:last-child, :first-child)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background: #0DB760;
}

.info__item:first-child {
    align-items: flex-start;
}

.info__item:last-child {
    align-items: flex-end;
}

.info-item__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #0DB760;
}
.info-item__subtitle {
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
    margin-top: 24px;
}

/* Skills */

.skills {
    width: 100%;
    height: 700px;
    background: url(../img/skills-bg-item1.png) no-repeat right top / 42px 132px,
                url(../img/skills-bg-item2.png) no-repeat left bottom / 42px 132px,
                url(../img/skills-bg-item3.png) no-repeat right bottom / 68px 191px;
    padding-top: 144px;
    margin-top: 44px;
}

.skills__container {
    justify-content: space-between;
}

.skills__column_text {
    max-width: 508px;
}

.skills__items {
    gap: 30px;
}

.skills__items-column {
    gap: 30px;
    flex-direction: column;
}

.skills-item {
    padding: 21px 18px;
    background: white;
    box-shadow: 5px 0px 100px rgba(247, 247, 247, 0.5);
    border-radius: 4px;
}

.skills-item__img {
    width: 28px;
    height: 28px;
}

.skills-item__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin: 16px 0 12px 0;
}

.skills-item__subtitle {
    font-size: 14px;
    line-height: 150%;
    color: #323433;
}