/* Imports */

@import "ZeroingOut.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;600&display=swap');

/* Started Styles */

body {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: black;
}

.container {
    max-width: 1160px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.wrapper {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

/* General Classes */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__img {
    width: 174px;
    height: 48px;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 40px;
}

.header__container {
    justify-content: space-between;
}

.header__link-list > *:not(:last-child) {
    margin-right: 40px;
}

.header__link {
    color: black;
    font-weight: 500;
    line-height: 145%;
}

.header__download-btn {
    font-weight: 500;
    line-height: 150%;
    min-width: 152px;
    padding: 16px 24px;
    border: 2px solid #0DB760;
    border-radius: 12px;
    color: black;
}