/* Imports */

@import "ZeroingOut.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;600&display=swap');

/* Started Styles */

body {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: black;
}

.container {
    max-width: 1160px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* General Classes */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__img {
    width: 174px;
    height: 48px;
}

.title {
    font-weight: 600;
    font-size: 58px;
    line-height: 70px;
    color: #0B0C0C;
}

.title_green {
    color: #0DB760;
    background: none;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #323433;
}

.btn {
    min-width: 138px;
    padding: 16px 24px;
    background: #0DB760;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 12px;
}

.title-mini {
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #0B0C0C;
}

.title-mini_green {
    color: #0DB760;
    background: none;
}

.offer__title {
    margin: 10px 0 24px 0;
}

.offer__buttons {
    margin-top: 40px;
}

.offer__view-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: inline-flex;
    align-items: center;
    color: black;
    margin-left: 24px;
}

.offer__view-btn::after {
    content: "";
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-left: 10px;
    background-image: url(../img/arrow-icon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.welcome-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
    color: #0DB760;
    border: 0.5px solid #0DB760;
    padding: 6px 5px;
    border-radius: 100%;
}

.social-btn {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #0DB760;
}

.social-btn__icon {
    width: 12px;
    height: 12px;
}

.user {
    display: flex;
    gap: 16px;
}

.user__icon {
    height: 40px;
    width: 40px;
}

.user__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #11142D;
}

.user__role {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    color: #92929D;
    display: inline-block;
    margin-top: 4px;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 40px;
}

.header__container {
    justify-content: space-between;
}

.header__link-list > *:not(:last-child) {
    margin-right: 40px;
}

.header__link {
    color: black;
    font-weight: 500;
    line-height: 145%;
}

.header__download-btn {
    font-weight: 500;
    line-height: 150%;
    min-width: 152px;
    padding: 16px 24px;
    border: 2px solid #0DB760;
    border-radius: 12px;
    color: black;
}

/* Home */

.home {
    width: 100%;
    min-height: 780px;
    background-image: url(../img/home-background.png);
    background-size: contain;
    background-position: 30px top;
    background-repeat: no-repeat;
    padding-top: 172px;
}

.home__container {
    position: relative;
    justify-content: space-between;
}

.home__column_text {
    max-width: 545px;
}

.home__img {
    width: 441px;
}

.home__contacts {
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: 50%;
    left: calc(100% + 70px);
    transform: translate(0, -50%);
}

.home__contacts-title {
    font-size: 16px;
    line-height: 150%;
    writing-mode: vertical-rl;
    color: #0DB760;
}

.home__contacts-line {
    height: 64px;
    width: 0.5px;
    background: #0DB760;
    position: relative;
    right: 3px;
}

.home__contacts-list {
    flex-direction: column;
    gap: 32px;
}

/* Info */

.info {
    width: 100%;
    margin-top: 122px;
}

.info__items {
    justify-content: space-between;
}

.info-item {
    flex: 1 1 28%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    position: relative;
}

.info__item:not(:first-child, :last-child) {
    flex: 1 1 44%;
}

.info__item:first-child {
    align-items: flex-start;
}

.info__item:last-child {
    align-items: flex-end;
}

.info__item:not(:last-child, :first-child)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 1px;
    background: #0DB760;
}

.info__item:not(:last-child, :first-child)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background: #0DB760;
}

.info-item__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #0DB760;
}

.info-item__subtitle {
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
    margin-top: 24px;
}

/* Skills */

.skills {
    width: 100%;
    min-height: 700px;
    background: url(../img/skills-bg-item1.png) no-repeat right top / 42px 132px,
                url(../img/skills-bg-item2.png) no-repeat left bottom / 42px 132px,
                url(../img/skills-bg-item3.png) no-repeat right calc(100% - 77px) / 68px 191px;
    padding-top: 144px;
    margin-top: 44px;
}

.skills__container {
    justify-content: space-between;
    gap: 67px;
}

.skills__column_text {
    max-width: 508px;
}

.skills__items {
    gap: 30px;
}

.skills__items-column {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.skills-item {
    padding: 21px 18px;
    background: white;
    box-shadow: 5px 0px 100px rgba(247, 247, 247, 0.5);
    border-radius: 4px;
}

.skills-item__img {
    width: 28px;
    height: 28px;
}

.skills-item__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin: 16px 0 12px 0;
}

.skills-item__subtitle {
    font-size: 14px;
    line-height: 150%;
    color: #323433;
}

/* Projects */

.projects {
    width: 100%;
    min-height: 457px;
    margin-top: 130px;
    position: relative;
}

.projects__container {
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 43px;
}

.projects__column_text {
    max-width: 370px;
    margin-top: 70px;
}

.projects__column_items {
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    top: 0;
    right: -150px;
}

.projects__current-item-img {
    width: 325px;
    height: 547px;
}

.projects__item-img {
    height: 440px;
    width: 325px;
}

.projects__items-wrap {
    align-items: flex-start;
    gap: 30px;
}

.projects__control-buttons {
    justify-content: flex-start;
    margin-top: 42px;
}

.projects__paginations-buttons {
    margin-right: 170px;
}

.projects__paginations-buttons > *:not(:last-child) {
    margin-right: 24px;
}

.projects__pagination-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.projects__pagination-btn::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #C4C4C4;
    border-radius: 2px;
}

.projects__pagination-btn_active {
    padding: 8px;
    border: 3px solid #C4C4C4;
    border-radius: 2px;
}

.projects__pagination-btn_active::before {
    background: #2ABF74;
}

.projects__arrow-buttons {
    gap: 21px;
}

.projects__arrow-btn {
    background: none;
}

.project__arrow-btn-img {
    width: 31px;
    height: 24px;
}

/* About us */

.about-us {
    min-height: 810px;
    width: 100%;
    background: url(../img/about-us-bg-item1.png) no-repeat left top / 68px 191px,
                url(../img/about-us-bg-item3.png) no-repeat right 70px / 42px 132px,
                url(../img/about-us-bg-item2.png) no-repeat left bottom / 42px 132px;
    padding-top: 188px;
    display: flex;
    justify-content: center;
}

.about-us__container-wrap {
    width: 1300px;
    overflow: hidden;
    padding: 10px 0 0 0;
}

.about-us__offer {
    justify-content: space-between;
    align-items: flex-end;
}

.about-us__offer .offer__title {
    margin-bottom: 0;
}

.about-us__offer-content {
    max-width: 400px;
}

.abous-us__control-buttons {
    gap: 20px;
    position: relative;
    bottom: 3px;
}

.abous-us__arrow-btn {
    background: none;
}

.abous-us__arrow-btn-img {
    width: 31px;
    height: 24px;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
}

.about-us__slider {
    margin-top: 40px;
}

.slider-item {
    height: 222px;
    min-width: 480px;
    background: white;
    border-radius: 8px;
    padding: 32px;
    overflow: hidden;
    box-shadow: 0px 30px 116px -16px rgba(211, 211, 211, 0.2);
}

.slider-item__stars-img {
    width: 96px;
    height: 16px;
}

.slider-item__message {
    margin: 20px 0 24px 0;
    font-size: 16px;
    line-height: 120%;
    color: #11142D;
}

/* Contact */

.contact {
    width: 100%;
    min-height: 700px;
    background: url(../img/contact-bg-item1.png) no-repeat right top / 68px 191px;
}

.contact__offer {
    text-align: center;
    max-width: 509px;
}

.contact__row:first-child {
    margin-bottom: 64px;
}

.contact__row:last-child {
    gap: 54px;
    align-items: flex-start;
}

.contact__row:last-child > div:first-child {
    flex: 1 1 48.714%;
}

.contact__row:last-child > div:last-child {
    flex: 1 1 52.286%;
}

.contact__items > *:not(:last-child) {
    margin-bottom: 24px;
}

.contact-item {
    display: flex;
    align-items: center;
    background: white;
    box-shadow: 0px 30px 116px -16px rgba(211, 211, 211, 0.2);
    border-radius: 8px;
    padding: 24px;
    gap: 18px;
}

.contact-item__icon {
    width: 28px;
    height: 28px;
}

.contact-item__icon-section {
    padding: 14px;
    background: #0DB760;
    border-radius: 20px;
}

.contact-item__name {
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.008em;
    color: #92929D;
    margin-bottom: 16px;
}

.contact-item__data {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #11142D;
}

.contact__inputs-wrap {
    display: grid;
    grid-template-areas: 
                        "input1 input2"
                        "input3 input4"
                        "textarea textarea";
    gap: 24px;
}

.contact__form {
    flex-direction: column;
    align-items: flex-end;
}

.input {
    padding: 24px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.008em;
    border: 0.3px solid #BEC0BF;
    border-radius: 8px;
}

.input::placeholder {
    color: #92929D;
}

.contact__input_1 {
    grid-area: input1;
}

.contact__input_2 {
    grid-area: input2;
}

.contact__input_3 {
    grid-area: input3;
}

.contact__input_4 {
    grid-area: input4;
}

.contact__textarea {
    grid-area: textarea;
    height: 170px;
    width: 100%;
    resize: none;
}

.contact__form-submit-btn {
    margin-top: 40px;
}

/* Footer */

.footer {
    width: 100%;
    margin-top: 120px;
}

.footer__container {
    padding: 32px 0 40px 0;
    border-top: 1px solid #BEC0BF;
    justify-content: space-between;
}

.footer__reserved-text,
.footer__author-text {
    font-size: 16px;
    line-height: 16px;
}

.footer__socials {
    gap: 16px;
}

.footer__social-btn {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}